ion-content{
  --background: #fff url('https://newwallpaperdownload.com/wallpapers/Galaxy-Wallpaper-On-Wallpaper-Hd.jpg') no-repeat center center / cover;
}

ion-button{
  --background: red;
  --background-hover: black;
}
